.message {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    

    &__author {
        color: darkblue;
        font-weight: bold;
        font-size: 14px;
        margin: 0 5px;
    }

    &__message {        
        overflow-wrap: break-word;
        color: black;
        font-style: italic;
        
        padding: 2px 10px 3px;
        border: 1px solid black;
        border-radius: 15px;
        width: fit-content;
    }

    &_author_bot {
        align-self: flex-end;
        align-items: end;
        text-align: right;
    }
}